@font-face {
  font-display: swap;
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/play-v19-cyrillic_latin-regular.eot");
  src: url("../fonts/play-v19-cyrillic_latin-regular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/play-v19-cyrillic_latin-regular.woff2") format("woff2"),
    url("../fonts/play-v19-cyrillic_latin-regular.woff") format("woff"),
    url("../fonts/play-v19-cyrillic_latin-regular.ttf") format("truetype"),
    url("../fonts/play-v19-cyrillic_latin-regular.svg#Play") format("svg");
}

@font-face {
  font-display: swap;
  font-family: "Play";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/play-v19-cyrillic_latin-700.eot");
  src: url("../fonts/play-v19-cyrillic_latin-700.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/play-v19-cyrillic_latin-700.woff2") format("woff2"),
    url("../fonts/play-v19-cyrillic_latin-700.woff") format("woff"),
    url("../fonts/play-v19-cyrillic_latin-700.ttf") format("truetype"),
    url("../fonts/play-v19-cyrillic_latin-700.svg#Play") format("svg");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v30-cyrillic_latin-regular.eot");
  src: url("../fonts/roboto-v30-cyrillic_latin-regular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/roboto-v30-cyrillic_latin-regular.woff2") format("woff2"),
    url("../fonts/roboto-v30-cyrillic_latin-regular.woff") format("woff"),
    url("../fonts/roboto-v30-cyrillic_latin-regular.ttf") format("truetype"),
    url("../fonts/roboto-v30-cyrillic_latin-regular.svg#Roboto") format("svg");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v30-cyrillic_latin-700.eot");
  src: url("../fonts/roboto-v30-cyrillic_latin-700.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/roboto-v30-cyrillic_latin-700.woff2") format("woff2"),
    url("../fonts/roboto-v30-cyrillic_latin-700.woff") format("woff"),
    url("../fonts/roboto-v30-cyrillic_latin-700.ttf") format("truetype"),
    url("../fonts/roboto-v30-cyrillic_latin-700.svg#Roboto") format("svg");
}

:root {
  --color-primaary-white: #ffffff;
  --color-primary-blue: #2b7fff;
  --color-primary-darkblue: #011c44;
  --color-secondary-darkgrey: #4a4a4a;
  --color-secondary-grey: #747272;
  --color-secondary-darkblue: #011f4a;
  --color-secondary-yellow: #ffd02b;
  --color-black: #000000;
}

/* Base */

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  max-width: 1440px;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--color-primary-darkblue);

  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

p {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  left: -100000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.container {
  display: flex;
  width: 100%;
  max-width: 1440px;

  justify-content: center;
}

.section-title {
  margin-bottom: 0;

  font-family: Play;
  font-size: 64px;
  font-weight: 700;
  line-height: 1.157031;
}

h2 .accent,
h3 .accent {
  color: var(--color-primary-blue);
}

/* Header */

.header {
  display: flex;
  position: absolute;
  background: #ffffff40;
}

.header-container {
  /* width: 100%; */
  display: flex;
  align-items: center;
  margin: 32px 102px 32px 99px;
  gap: 240px;
  flex-grow: 1;
  background: transparent;

  backdrop-filter: blur(5px);
}

.header-nav {
  display: flex;
  align-items: center;
  gap: 240px;
}

.header-menu {
  display: flex;
  gap: 56px;
  flex-grow: 1;
  justify-content: center;
}

.address-list {
  display: flex;
  gap: 32px;
  flex-grow: 1;
  justify-content: center;
}
.logo {
  text-decoration: none;
  font-family: Play;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 0.9545555; /* 95.455% */
  text-transform: capitalize;

  color: var(--color-primary-blue);
}

.header-link {
  color: var(--color-primary-darkblue);
  text-decoration: none;
  font-size: 18px;
  line-height: 1.171666;
}

.header-link:hover {
  color: var(--color-primary-blue);
}

/* Hero Section */

.hero-section {
  padding: 0;
  background-image: url("../images/hero-bg.jpg");
  background-repeat: no-repeat;
  background-position-x: 350px;
}

.hero-container {
  margin: 123.12px 666.95px 126.81px 244px;
  /* display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px; */
}

.hero-title {
  margin-bottom: 40px;

  color: var(--color-primary-blue);

  font-family: Play;
  font-size: 140px;
  font-weight: 700;
  line-height: 0.81429;
}

.company-name {
  text-transform: capitalize;
}

.hero-title-p {
  margin-bottom: 16px;

  font-size: 18px;
  line-height: 1.171666;
}

.button {
  border: 2px solid var(--color-primary-blue);
  border-radius: 32px;
  background-color: var(--color-primary-blue);
  color: var(--color-primaary-white);

  display: flex;
  padding: 14px 30px;
  margin-bottom: 14px;
  align-items: flex-start;

  font-size: 18px;
  font-weight: 600;
  line-height: 1.171666;
}

.button:hover {
  border: 2px solid var(--color-primary-blue);
  color: var(--color-primary-darkblue);
  background-color: transparent;
}

.button-description {
  margin-bottom: 0;
  color: var(--color-secondary-darkgrey);
  font-style: 12px;
  line-height: 1.5;
}

/* Abouy Us Section */

.about-us {
  padding: 0 0 88px 0;
}
.about-us-content > p {
  font-size: 22px;
  line-height: 1.727272;
}

p .accent {
  font-weight: 700;
}

.about-us-container {
  display: flex;
  margin: 0 100px;
  gap: 32px;
}
.about-us-content {
  width: 710px;
  margin-top: 40px;
  margin-bottom: 199px;
  display: flex;
  flex-direction: column;

  gap: 40px;
}

.about-us-images {
  width: 500px;
  height: 696px;
  display: flex;
  position: relative;
}

.first-image {
  position: absolute;
  top: 1px;
  left: 4px;
  border-radius: 50%;
  width: 335px;
  height: 328px;
}

.second-image {
  position: absolute;
  bottom: 0;
  left: 164px;
  border-radius: 50%;
  width: 335px;
  height: 328px;
}

/* Advantages */

.advantages-container {
  max-width: 1060px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
  margin: 0 auto;

  background-color: #a8bccd;
}

.advnatages-title {
  text-align: center;
  width: 432px;
}

.advantages-list {
  display: flex;
  gap: 56px;
}

.advantages {
  padding: 88px 0 48px 0;
}

.advantage-block {
  display: flex;
  flex-direction: column;
  height: 181px;
  padding: 24px 32px;
  gap: 8px;
  justify-content: center;
  align-items: center;
  border-radius: 32px;

  box-shadow: 0px 4px 4px 0px rgba(168, 198, 245, 0.38);
  background: rgb(255, 255, 255);
}

.features {
  color: var(--color-black);

  text-align: center;
  font-size: 18px;
  line-height: 1.333333; /* 133.333% */
}

/* Procedures */

.procedures {
  padding: 48px 0;
}

.procedure-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}

.procedure-title {
  position: absolute;
  width: 152px;
  height: 52px;
  color: var(--color-primaary-white);

  text-align: center;
  font-size: 22px;
  line-height: 1.181818; /* 118.182% */
}

.procedure-list {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.procedure-card {
  position: relative;
  border-radius: 4px 120px;
  width: 344px;
  height: 456px;
  flex-shrink: 0;
  display: flex;
  align-content: flex-end;
  padding: 372px 77px 32px 115px;
  overflow: hidden;
  background-image: linear-gradient(
    180deg,
    rgba(1, 28, 68, 0) 48.529%,
    rgba(1, 28, 68, 0.73) 84.641%,
    rgb(1, 28, 68) 101.43%
  );
}

.procedure-image {
  position: absolute;
  width: 516px;
  height: 716px;
  left: -35.47%;
  right: -14.53%;
  top: -42.54%;
  bottom: -14.47%;
  z-index: -1;
}

.procedure-image-2 {
  position: absolute;
  width: 767px;
  height: 511px;
  left: -212px;
  right: -211px;
  top: -28px;
  bottom: -27px;
  z-index: -1;
}

.procedure-image-3 {
  position: absolute;
  width: 463px;
  height: 694px;
  left: -52px;
  right: -67px;
  top: -2px;
  bottom: -236px;
  z-index: -1;
}

/* Contacts */

.contacts {
  padding: 48px 0 96px 0;
}

.contacts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}

.contacts-content {
  display: flex;
  gap: 32px;
}

.iframe {
  border: none;
}

.order-container {
  padding: 48px 56px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 424px;
  background-color: var(--color-primary-darkblue);
  border-radius: 32px;
  text-align: center;
}

.order {
  width: 310px;
  margin: auto;
}

.order-title {
  color: var(--color-primaary-white);

  font-size: 22px;
  line-height: 1.171818;
}

.order .button:hover {
  color: var(--color-primaary-white);
}

.order p,
.order a {
  color: var(--color-secondary-grey);

  font-size: 12px;
  line-height: 1.5;
}

/* Form */

.form-field {
  margin-bottom: 16px;
}

.form-label {
  display: block;
}

.form-input {
  padding: 18px 34px;
  width: 100%;
  border: 2px solid var(--color-secondary-grey);
  border-radius: 32px;
  background-color: transparent;
  font-size: 13px;
  line-height: 1.153846;
  color: var(--color-primaary-white);
}

.form-input:focus {
  background-color: var(--color-secondary-grey);
  outline: none;
}

.form-input::placeholder {
  font-size: 13px;
  line-height: 1.153846;
  color: var(--color-primaary-white);
}

.form-button {
  display: block;
  margin: 0 auto 8px;
}

/* Footer */

.footer {
  position: relative;
  background-color: var(--color-primary-darkblue);
  padding: 56px 100px;
}

.footer::after {
  position: absolute;
  background-image: url("../images/foooter-deco.png");
  background-repeat: no-repeat;
  width: 278px;
  height: 213px;
  right: -31px;
  bottom: -61px;
  content: "";
}

.footer-container {
  display: flex;
  gap: 186px;
  margin: 0;
}

.footer-content {
  display: flex;
}

.footer-nav {
  display: flex;
  gap: 186px;
}

.footer-address {
  width: 192px;
}

.footer-social {
  display: flex;
  gap: 24px;
  color: var(--color-primaary-white);
}
.footer-link,
.footer-address-link {
  display: flex;
  flex-direction: column;
  color: var(--color-primaary-white);

  font-size: 16px;
  line-height: 1.171875;
  text-decoration: none;
  font-style: normal;
  margin-bottom: 16px;
}

.footer-info {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.footer-info a {
  margin-bottom: 16px;
  color: var(--color-primaary-white);
  text-decoration: none;
}

.copyright {
  color: var(--color-secondary-grey);
  font-size: 13px;
  line-height: 1.171538;
}

/* Modal window */

.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 172px 358px;
  background-color: rgba(1, 31, 74, 0.4);
  transition: opacity 0.3s, visibility 0.3s;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: relative;
  width: 100%;
  max-width: 724px;
  height: 100%;
  max-height: 682px;
  padding: 42px 144px;
  background-color: var(--color-primary-darkblue);
  border-radius: 48px;
  text-align: center;
  align-items: center;
  overflow-y: auto;
}

.modal-btn-close {
  position: absolute;
  top: 42px;
  right: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
}

.modal-title {
  font-family: Play;
  font-size: 64px;
  font-weight: 700;
  line-height: 1.15625;
  color: var(--color-primaary-white);
}
