* {
  all: reset;
  box-sizing: border-box;
}

body {
  width: 100%;
  max-width: 1440px;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--color-primary-darkblue);
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

p {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@font-face {
  font-display: swap;
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/play-v19-cyrillic_latin-regular.eot");
  src: url("../fonts/play-v19-cyrillic_latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/play-v19-cyrillic_latin-regular.woff2") format("woff2"), url("../fonts/play-v19-cyrillic_latin-regular.woff") format("woff"), url("../fonts/play-v19-cyrillic_latin-regular.ttf") format("truetype"), url("../fonts/play-v19-cyrillic_latin-regular.svg#Play") format("svg");
}
@font-face {
  font-display: swap;
  font-family: "Play";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/play-v19-cyrillic_latin-700.eot");
  src: url("../fonts/play-v19-cyrillic_latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/play-v19-cyrillic_latin-700.woff2") format("woff2"), url("../fonts/play-v19-cyrillic_latin-700.woff") format("woff"), url("../fonts/play-v19-cyrillic_latin-700.ttf") format("truetype"), url("../fonts/play-v19-cyrillic_latin-700.svg#Play") format("svg");
}
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v30-cyrillic_latin-regular.eot");
  src: url("../fonts/roboto-v30-cyrillic_latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-cyrillic_latin-regular.woff2") format("woff2"), url("../fonts/roboto-v30-cyrillic_latin-regular.woff") format("woff"), url("../fonts/roboto-v30-cyrillic_latin-regular.ttf") format("truetype"), url("../fonts/roboto-v30-cyrillic_latin-regular.svg#Roboto") format("svg");
}
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v30-cyrillic_latin-700.eot");
  src: url("../fonts/roboto-v30-cyrillic_latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-cyrillic_latin-700.woff2") format("woff2"), url("../fonts/roboto-v30-cyrillic_latin-700.woff") format("woff"), url("../fonts/roboto-v30-cyrillic_latin-700.ttf") format("truetype"), url("../fonts/roboto-v30-cyrillic_latin-700.svg#Roboto") format("svg");
}
.text-color {
  color: var(--color-primary-blue);
}

.text-weight {
  font-weight: 700;
}

.copyright {
  color: var(--color-secondary-grey);
  font-size: 13px;
  line-height: 1.171538;
}

.visually-hidden {
  position: absolute;
  left: -100000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

:root {
  --color-primary-white: #ffffff;
  --color-primary-blue: #2b7fff;
  --color-primary-darkblue: #011c44;
  --color-secondary-darkgrey: #4a4a4a;
  --color-secondary-grey: #747272;
  --color-secondary-darkblue: #011f4a;
  --color-secondary-yellow: #ffd02b;
  --color-black: #000000;
}

.about-us {
  padding: 0 0 88px 0;
}
.about-us__container {
  display: flex;
  margin: 0 100px;
  gap: 32px;
}
.about-us__content {
  width: 710px;
  margin-top: 40px;
  margin-bottom: 199px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.about-us__text {
  font-size: 22px;
  line-height: 1.727272;
}
.about-us__images {
  width: 500px;
  height: 696px;
  display: flex;
  position: relative;
}
.about-us__images--first {
  position: absolute;
  top: 1px;
  left: 4px;
  border-radius: 50%;
  width: 335px;
  height: 328px;
}
.about-us__images--second {
  position: absolute;
  bottom: 0;
  left: 164px;
  border-radius: 50%;
  width: 335px;
  height: 328px;
}

.advantages {
  padding: 88px 0 48px 0;
}
.advantages__container {
  max-width: 1060px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
  margin: 0 auto;
  background-color: #a8bccd;
}
.advantages__list {
  display: flex;
  gap: 56px;
}
.advantages__card {
  display: flex;
  flex-direction: column;
  height: 181px;
  padding: 24px 32px;
  gap: 8px;
  justify-content: center;
  align-items: center;
  border-radius: 32px;
  box-shadow: 0px 4px 4px 0px rgba(168, 198, 245, 0.38);
  background: rgb(255, 255, 255);
}
.advantages__features {
  color: var(--color-black);
  text-align: center;
  font-size: 18px;
  line-height: 1.333333; /* 133.333% */
}

.contacts {
  padding: 48px 0 96px 0;
}
.contacts__container {
  display: flex;
  flex-direction: column;
}
.contacts__content {
  display: flex;
  gap: 32px;
}
.contacts__map {
  flex-shrink: 0;
  border: none;
}
.contacts__order {
  padding: 48px 56px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 424px;
  background-color: var(--color-primary-darkblue);
  border-radius: 32px;
  text-align: center;
}

.container {
  display: flex;
  width: 100%;
  max-width: 1440px;
  justify-content: center;
}

.footer {
  position: relative;
  background-color: var(--color-primary-darkblue);
  padding: 56px 100px;
}
.footer__container {
  display: flex;
  gap: 186px;
}
.footer__content {
  display: flex;
}
.footer__nav {
  display: flex;
  width: 203px;
}
.footer__address {
  width: 192px;
}
.footer__social {
  display: flex;
  gap: 24px;
  color: var(--color-primary-white);
}
.footer__link {
  display: flex;
  flex-direction: column;
  color: var(--color-primary-white);
  font-size: 16px;
  line-height: 1.171875;
  letter-spacing: 0%;
  text-decoration: none;
  font-style: normal;
  margin-bottom: 16px;
}
.footer__info {
  display: flex;
  flex-direction: column;
}
.footer::after {
  position: absolute;
  background-image: url("../images/foooter-deco.png");
  background-repeat: no-repeat;
  width: 278px;
  height: 213px;
  right: -31px;
  bottom: -61px;
  content: "";
}

.header {
  display: flex;
  position: absolute;
  background: rgba(255, 255, 255, 0.2509803922);
}
.header__container {
  display: flex;
  align-items: center;
  margin: 32px 102px 32px 99px;
  gap: 240px;
  flex-grow: 1;
  background: transparent;
  backdrop-filter: blur(5px);
}
.header__nav {
  display: flex;
  align-items: center;
  gap: 240px;
}
.header__menu {
  display: flex;
  gap: 56px;
  flex-grow: 1;
  justify-content: center;
}
.header__social {
  display: flex;
  gap: 32px;
  flex-grow: 1;
  justify-content: center;
}
.header__link {
  color: var(--color-primary-darkblue);
  text-decoration: none;
  font-size: 18px;
  line-height: 1.171666;
}
.header__link:hover {
  color: var(--color-primary-blue);
}

.hero-section {
  padding: 0;
  background-image: url("../images/hero-bg.jpg");
  background-repeat: no-repeat;
  background-position-x: 350px;
}
.hero-section__container {
  margin: 123.12px 666.95px 126.81px 244px;
}
.hero-section__title {
  margin-bottom: 40px;
  color: var(--color-primary-blue);
  font-family: Play;
  font-size: 140px;
  font-weight: 700;
  line-height: 0.81429;
}
.hero-section__title--text {
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 1.171666;
}

.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 172px 358px;
  background-color: rgba(1, 31, 74, 0.4);
  transition: opacity 0.3s, visibility 0.3s;
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: relative;
  width: 100%;
  max-width: 724px;
  height: 682px;
  padding: 42px 144px;
  background-color: var(--color-primary-darkblue);
  border-radius: 48px;
  text-align: center;
  align-items: center;
  overflow-y: auto;
}
.modal__field {
  margin-bottom: 24px;
}
.modal__btn-close {
  position: absolute;
  top: 42px;
  right: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  fill: transparent;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.modal__title {
  font-family: Play;
  font-size: 64px;
  font-weight: 700;
  line-height: 1.15625;
  color: var(--color-primary-white);
  margin-bottom: 40px;
}

.order-form {
  width: 310px;
  margin: auto;
}
.order-form__title {
  color: var(--color-primary-white);
  font-size: 22px;
  line-height: 1.171818;
}
.order-form__field {
  margin-bottom: 16px;
}
.order-form__button {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;
}

.procedures {
  padding: 48px 0;
}
.procedures__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}
.procedures__slider {
  display: flex;
  align-items: center;
}
.procedures__list {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.section__title {
  margin-bottom: 0;
  font-family: Play;
  font-size: 64px;
  font-weight: 700;
  line-height: 1.157031;
}
.section__title--centered {
  text-align: center;
  width: 432px;
}

.button {
  border: 2px solid var(--color-primary-blue);
  border-radius: 32px;
  background-color: var(--color-primary-blue);
  color: var(--color-primaary-white);
  display: flex;
  padding: 14px 30px;
  margin-bottom: 14px;
  align-items: flex-start;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.171666;
}

.button:hover {
  border: 2px solid var(--color-primary-blue);
  color: var(--color-primary-darkblue);
  background-color: transparent;
}

.button-description {
  margin-bottom: 0;
  color: var(--color-secondary-darkgrey);
  font-style: 12px;
  line-height: 1.5;
}

.order .button:hover {
  color: var(--color-primaary-white);
}

.form-button {
  display: block;
  margin: 0 auto 8px;
}

.close-btn {
  background-color: var(--color-primary-darkblue);
}

.carousel-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 44px;
  height: 44px;
  padding: 0;
  fill: var(--color-primary-dark);
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid var();
  cursor: pointer;
}
.carousel-button:hover {
  background-color: var(--color-primary-dark);
  fill: var(--color-primary-light);
}
.carousel-button.prev {
  transform: rotate(180deg);
}

.input {
  position: relative;
}
.input__label {
  display: block;
}
.input__control {
  padding: 18px 34px;
  width: 100%;
  border: 2px solid var(--color-secondary-grey);
  border-radius: 32px;
  background-color: transparent;
  font-size: 13px;
  line-height: 1.153846;
  color: var(--color-primary-white);
}
.input__control:focus {
  background-color: var(--color-secondary-grey);
  outline: none;
}
.input__control::placeholder {
  font-size: 13px;
  line-height: 1.153846;
  color: var(--color-primary-white);
}

.procedure-card {
  position: relative;
  border-radius: 4px 120px;
  width: 344px;
  height: 456px;
  flex-shrink: 0;
  display: flex;
  align-content: flex-end;
  padding: 372px 77px 32px 115px;
  overflow: hidden;
  background-image: linear-gradient(180deg, rgba(1, 28, 68, 0) 48.529%, rgba(1, 28, 68, 0.73) 84.641%, rgb(1, 28, 68) 101.43%);
}
.procedure-card__image {
  position: absolute;
  z-index: -1;
}
.procedure-card__image--1 {
  width: 516px;
  height: 716px;
  left: -35.47%;
  right: -14.53%;
  top: -42.54%;
  bottom: -14.47%;
}
.procedure-card__image--2 {
  width: 767px;
  height: 511px;
  left: -212px;
  right: -211px;
  top: -28px;
  bottom: -27px;
}
.procedure-card__image--3 {
  width: 463px;
  height: 694px;
  left: -52px;
  right: -67px;
  top: -2px;
  bottom: -236px;
}
.procedure-card__title {
  position: absolute;
  width: 152px;
  height: 52px;
  color: var(--color-primaary-white);
  text-align: center;
  font-size: 22px;
  line-height: 1.181818; /* 118.182% */
}

.terms-policy {
  width: 212px;
  color: var(--color-secondary-grey);
  font-size: 12px;
  line-height: 1.5;
  margin: 0 auto;
}
.terms-policy__link {
  color: var(--color-secondary-grey);
}