.header {
  display: flex;
  position: absolute;
  background: #ffffff40;

  &__container {
    display: flex;
    align-items: center;
    margin: 32px 102px 32px 99px;
    gap: 240px;
    flex-grow: 1;
    background: transparent;

    backdrop-filter: blur(5px);
  }

  &__nav {
    display: flex;
    align-items: center;
    gap: 240px;
  }

  &__menu {
    display: flex;
    gap: 56px;
    flex-grow: 1;
    justify-content: center;
  }

  &__address {
    display: flex;
    gap: 32px;
    flex-grow: 1;
    justify-content: center;
  }

  &__link {
    color: var(--color-primary-darkblue);
    text-decoration: none;
    font-size: 18px;
    line-height: 1.171666;
  }

  &__link:hover {
    color: var(--color-primary-blue);
  }
}
