.hero-section {
  padding: 0;
  background-image: url('../images/hero-bg.jpg');
  background-repeat: no-repeat;
  background-position-x: 350px;

  &__container {
    margin: 123.12px 666.95px 126.81px 244px;
  }

  &__title {
    margin-bottom: 40px;

    color: var(--color-primary-blue);

    font-family: Play;
    font-size: 140px;
    font-weight: 700;
    line-height: 0.81429;

    &--text {
      margin-bottom: 16px;

      font-size: 18px;
      line-height: 1.171666;
    }
  }
}
