.container {
  display: flex;
  width: 100%;
  max-width: 1440px;

  justify-content: center;
}

.section-title {
  margin-bottom: 0;

  font-family: Play;
  font-size: 64px;
  font-weight: 700;
  line-height: 1.157031;
}

h2 .accent,
h3 .accent {
  color: var(--color-primary-blue);
}
