.procedure-card {
  position: relative;
  border-radius: 4px 120px;
  width: 344px;
  height: 456px;
  flex-shrink: 0;
  display: flex;
  align-content: flex-end;
  padding: 372px 77px 32px 115px;
  overflow: hidden;
  background-image: linear-gradient(
    180deg,
    rgba(1, 28, 68, 0) 48.529%,
    rgba(1, 28, 68, 0.73) 84.641%,
    rgb(1, 28, 68) 101.43%
  );

  &__image {
    position: absolute;
    z-index: -1;

    &--1 {
      width: 516px;
      height: 716px;
      left: -35.47%;
      right: -14.53%;
      top: -42.54%;
      bottom: -14.47%;
    }

    &--2 {
      width: 767px;
      height: 511px;
      left: -212px;
      right: -211px;
      top: -28px;
      bottom: -27px;
    }

    &--3 {
      width: 463px;
      height: 694px;
      left: -52px;
      right: -67px;
      top: -2px;
      bottom: -236px;
    }
  }

  &__title {
    position: absolute;
    width: 152px;
    height: 52px;
    color: var(--color-primaary-white);

    text-align: center;
    font-size: 22px;
    line-height: 1.181818; /* 118.182% */
  }
}
