.footer {
  position: relative;
  background-color: var(--color-primary-darkblue);
  padding: 56px 100px;

  &__container {
    display: flex;
    gap: 186px;
  }

  &__content {
    display: flex;
  }

  &__nav {
    display: flex;
    width: 203px;
  }

  &__address {
    width: 192px;
  }

  &__social {
    display: flex;
    gap: 24px;
    color: var(--color-primary-white);
  }

  &__link {
    display: flex;
    flex-direction: column;
    color: var(--color-primary-white);

    font-size: 16px;
    line-height: 1.171875;
    letter-spacing: 0%;
    text-decoration: none;
    font-style: normal;
    margin-bottom: 16px;
  }

  &__info {
    display: flex;
    flex-direction: column;
  }

  &::after {
    position: absolute;
    background-image: url('../images/foooter-deco.png');
    background-repeat: no-repeat;
    width: 278px;
    height: 213px;
    right: -31px;
    bottom: -61px;
    content: '';
  }
}
